<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<script src="https://use.typekit.net/tli3ffb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<head>
	<style>
	.flex-direction-nav a.flex-next, .flex-direction-nav a.flex-prev {
display:none; }
</style>

  <%= favicon_link_tag %>
  <%=	favicon_link_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="IdeaPortal" />

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- External JavaScripts
  ============================================= -->
  <%= javascript_include_tag 'jquery', 'plugins', 'analytics' %>
  <!-- Document Title
  ============================================= -->
  <title >IdeaPortal - Collaborative Product Incubation and Consulting | Agile | Xtreme | Lean </title>

</head>

<body class="stretched side-panel-left" data-loader="4" data-loader-timeout="5000">

<!-- Document Wrapper
============================================= -->
<div  id="wrapper" class="clearfix">

  <!-- Side Panel
  ============================================ -->



  <!-- Header
  ============================================= -->
  <header id="header" class="full-header semi-transparent static-sticky" data-sticky-offset="0" style="background-color: rgba(0,0,0,.9)">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <!-- Logo
        ============================================= -->
        <div id="logo">
          <a href="index.html" class="standard-logo" data-dark-logo="assets/logo-tm.png"><img src="assets/ip_idea_portal.png" alt="ideaportal Logo" style=""></a>
          <a href="index.html" class="retina-logo" data-dark-logo="assets/logo-tm.png"><img src="assets/ip_idea_portal.png" alt="ideaportal Logo"></a>
        </div>

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" >



          <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">

            <li><a href="#" data-href="#wrapper" class="active"><div >Home</div></a></li>
            <li><a href="#" data-href="#section-idea"><div>Idea</div></a></li>
            <li><a href="#" data-href="#section-features"><div>Features</div></a></li>
            <li><a href="#" data-href="#section-work"><div>Work</div></a></li>
            <li><a href="#" data-href="#section-about"><div>About</div></a></li>
            <li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
          </ul>

        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->

  <!-- Slider
  ============================================= -->

  <section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark" style=" background-position: center top; background-image: url('assets/header_bg.jpg');">
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center" style="margin-top: 0%;">
               <%= image_tag "/assets/title_logo.png", :style => "width: 50%; height 50%;"%>
              <h2 data-caption-animate="fadeInUp" style="font-family:museo-sans-condensed;
              letter-spacing:1px;text-shadow: 3px 3px 8px rgba(255, 255, 255, .6);">Welcome to IdeaPortal</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200" style="text-shadow: 3px 3px 8px rgba(255, 255, 255, .6);line-height:26px; ">-- The perfect context for seeding Innovative Technology -- <br> Choose from a range of services around product creation and curation, and pilot your MVP via a tailored strategy and engagement mechanism</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide overlay" style=" background-image: url('assets/white_sticky.jpg'); background-position: center top;">
          <div class="container clearfix">
            <div class="slider-caption">
              <h2 data-caption-animate="slideInDown" style="font-family:museo-sans-condensed;
                      letter-spacing:1px;text-shadow: 3px 3px 8px rgba(255, 255, 255, .6);">Full Spectrum Assistance</h2>
              <p data-caption-animate="slideInDown" data-caption-delay="200" style="text-shadow: 3px 3px 8px rgba(255, 255, 255, .6);line-height:26px;">Requirement Gathering and Business Modelling.<br> Release and Piple Line Planning.<br> World Class Implementation Assistance.<br> UI, UX and Branding. SEO, SEM and SMM.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide" style="background-image: url('assets/ERIK.jpg'); background-position: center top;">
          <div class="container clearfix">
            <div class="slider-caption">
              <h2 data-caption-animate="fadeInUp" style="font-family:museo-sans-condensed;
                      letter-spacing:1px;text-shadow: 3px 3px 8px rgba(255, 255, 255, .6);">Rooted In Pragmatism</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200" style="text-shadow: 3px 3px 8px rgba(255, 255, 255, .6);line-height:26px;"> Bootstrapped. Hands-On. Agile. Xtreme. Lean. Holocratic. Sustainable. Transparent. Iterative. Self-Competitive.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>

    <script>
        jQuery(document).ready(function($){
            var swiperSlider = new Swiper('.swiper-parent',{
                paginationClickable: false,
                slidesPerView: 1,
                grabCursor: true,
                loop: true,
                onSwiperCreated: function(swiper){
                    $('[data-caption-animate]').each(function(){
                        var $toAnimateElement = $(this);
                        var toAnimateDelay = $(this).attr('data-caption-delay');
                        var toAnimateDelayTime = 0;
                        if( toAnimateDelay ) { toAnimateDelayTime = Number( toAnimateDelay ) + 750; } else { toAnimateDelayTime = 750; }
                        if( !$toAnimateElement.hasClass('animated') ) {
                            $toAnimateElement.addClass('not-animated');
                            var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                            setTimeout(function() {
                                $toAnimateElement.removeClass('not-animated').addClass( elementAnimation + ' animated');
                            }, toAnimateDelayTime);
                        }
                    });
                    SEMICOLON.slider.swiperSliderMenu();
                },
                onSlideChangeStart: function(swiper){
                    $('[data-caption-animate]').each(function(){
                        var $toAnimateElement = $(this);
                        var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                        $toAnimateElement.removeClass('animated').removeClass(elementAnimation).addClass('not-animated');
                    });
                    SEMICOLON.slider.swiperSliderMenu();
                },
                onSlideChangeEnd: function(swiper){
                    $('#slider').find('.swiper-slide').each(function(){
                        if($(this).find('video').length > 0) { $(this).find('video').get(0).pause(); }
                        if($(this).find('.yt-bg-player').length > 0) { $(this).find('.yt-bg-player').pauseYTP(); }
                    });
                    $('#slider').find('.swiper-slide:not(".swiper-slide-active")').each(function(){
                        if($(this).find('video').length > 0) {
                            if($(this).find('video').get(0).currentTime != 0 ) $(this).find('video').get(0).currentTime = 0;
                        }
                        if($(this).find('.yt-bg-player').length > 0) {
                            $(this).find('.yt-bg-player').getPlayer().seekTo( $(this).find('.yt-bg-player').attr('data-start') );
                        }
                    });
                    if( $('#slider').find('.swiper-slide.swiper-slide-active').find('video').length > 0 ) { $('#slider').find('.swiper-slide.swiper-slide-active').find('video').get(0).play(); }
                    if( $('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').length > 0 ) { $('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').playYTP(); }

                    $('#slider .swiper-slide.swiper-slide-active [data-caption-animate]').each(function(){
                        var $toAnimateElement = $(this);
                        var toAnimateDelay = $(this).attr('data-caption-delay');
                        var toAnimateDelayTime = 0;
                        if( toAnimateDelay ) { toAnimateDelayTime = Number( toAnimateDelay ) + 300; } else { toAnimateDelayTime = 300; }
                        if( !$toAnimateElement.hasClass('animated') ) {
                            $toAnimateElement.addClass('not-animated');
                            var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                            setTimeout(function() {
                                $toAnimateElement.removeClass('not-animated').addClass( elementAnimation + ' animated');
                            }, toAnimateDelayTime);
                        }
                    });
                }
            });

            $('#slider-arrow-left').on('click', function(e){
                e.preventDefault();
                swiperSlider.swipePrev();
            });

            $('#slider-arrow-right').on('click', function(e){
                e.preventDefault();
                swiperSlider.swipeNext();
            });
        });
    </script>

    <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

  </section>

  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap nopadding">

      <div id="section-idea" class="center page-section">

        <div class="container clearfix">
          <div class= "row topmargin-sm divcenter">
            <div class="heading-block topmargin-sm center" data-animate="fadeIn">
              <h4  style="font-family:museo-sans-condensed;
                      letter-spacing:1px;">The Idea Behind The Portal</h4>
            </div>

            <div class = "row" itemscope itemtype="http://schema.org/WebSite" >
              <p itemprop="http://schema.org/about" class="col_full lead divcenter bottommargin " data-animate="fadeIn" style="max-width: 80%;color:#2F4F4F;"> A transformation engine that delivers technology platforms that enable real world ideas. At Idea Portal,
                we iterate on frameworks around the developmental, strategic and design aspects of creation. We use world class tools, processes and people to incubate great ideas worth curation. IdeaPortal speaks of having connected
                investors, analysts, philanthropists, creators, planners, designers, executives and marketers on projects in a wide variety of domains and complexity. </p>




              <div data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="clearfix in-block"></div>

            </div>

          </div>



        </div>
        <div class="col_full nobottommargin common-height">

          <div class="col-md-4 dark col-padding ohidden" style="background-color: #003300;">
            <div>
              <h2 class="uppercase" style="font-weight: 600;font-size:16px;font-family:museo-sans-condensed;
                      letter-spacing:1px;">High Performance</h2>
              <p style="line-height: 1.8;font-size:14px;">Agile Process Planning. Pair Programming. TDD. Emergent Code. Complex  Business Modelling.<br> A running software product is like a theatre production. From Inception and onwards, our focus is on growing a nerd pool capable of delivering continous quality, allowing for the product to iterate rapidly and grow organically. </p>
            <!--  <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a> -->
              <i class="icon-bulb bgicon"></i>
            </div>
          </div>

          <div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
            <div>
              <h2 class="uppercase" style="font-weight: 600;font-size:16px;font-family:museo-sans-condensed;
                      letter-spacing:1px;">Full Stack</h2>
              <p style="line-height: 1.8;font-size:14px;">DevOps. Scalable Cloud Architecture. Pragmatic Business Modelling. Aesthetic Design. Meaningful Copy. Responsive FrontEnds. Native Mobile Apps.<br>We are experts on Ruby, Rails, Amazon, Heroku, HTML5, JS and mobile front ends. Our skills span accross SEO, SEM, SMM , content and asset creation.</p>
             <!-- <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a> -->
              <i class="icon-cog bgicon"></i>
            </div>
          </div>

          <div class="col-md-4 dark col-padding ohidden" style="background-color: #000000;">
            <div>
              <h2 class="uppercase" style="font-weight: 600;font-size:16px;font-family:museo-sans-condensed;
                      letter-spacing:1px;">Pragmatic & Tailored</h2>
              <p style="line-height: 1.8;font-size:14px;">Every Idea and it's Context is unique in it's strengths and in it's challenges. We endeavor to stay pragmatic and focus on leading into a win-win spiral that ensures the organic survivability and growth of the venture.Our transparent implementation process, fair billing on time and expenses and our focus on value creation enables unbridled insight over creation.</p>
             <!-- <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a> -->
              <i class="icon-thumbs-up bgicon"></i>
            </div>
          </div>

          <div class="clear"></div>

        </div>



        <div class="inblock clearfix "></div>

        <div class="section parallax dark notopmargin nobottommargin" style="background-image: url('assets/waves.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">

          <div class="heading-block center">
            <h3 style="font-family:museo-sans-condensed;
                    letter-spacing:1px;">Design Transcends Boundaries</h3>
          </div>

          <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide">
                <!-- <div class="testi-image">
                    <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                  </div> -->
                  <div class="testi-content">
                    <p style="
                            letter-spacing:1px;"> To achieve great change, one envisions beyond boundaries. <br>
                      To keep it real, one breathes ones' life into the idea.</p>
                  <!-- <div class="testi-meta" style="font-family:museo-sans-condensed;
                            letter-spacing:1px;">
                      Steve Jobs
                      <span style="font-family:museo-sans-condensed;
                              letter-spacing:1px;">Apple Inc.</span>
                    </div> -->
                  </div>
                </div>
              <div class="slide">
                  <!--<div class="testi-image">
                    <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                  </div> -->
                  <div class="testi-content">
                    <p>To consistently deliver best of the class creation, be aligned with the larger forces
                      seeking harmony, music and dance within greater growth</p>
                   <!-- <div class="testi-meta">
                      Collis Ta'eed
                      <span>Envato Inc.</span>
                    </div> -->
                  </div>
                </div>
                <div class="slide">
                 <!-- <div class="testi-image">
                    <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                  </div> -->
                  <div class="testi-content">
                    <p>One test is worth a thousand expert opinions!</p>
                   <!-- <div class="testi-meta">
                      John Doe
                      <span>XYZ Inc.</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="clearfix in-block"></div>

        </div>

        </div>


        <div id="section-features" class="page-section notoppadding notopmargin"
           <div class="content-wrap notopmargin nobottommargin">
             <div class="section notopmargin nobottommargin">
               <div class="container clearfix">

                 <div class="heading-block center">
                   <h2 style="font-family:museo-sans-condensed;
                           letter-spacing:1px;">What we bring on to the table!</h2>
                   <!--<span>We provide a range of services that facilitate startups to create MVPS and give scaling products a leading edge </span>--> 
                 </div>

                 <div class="clear bottommargin-sm"></div>

                 <div id ="not_centered" class="col_one_third">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-phone2"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">FrontEnd Agility</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;"> Our RESTful modelling allows all incubated products to have multiple front ends. <br> Responsive Layouts ensure that our web pages remain app first.</p>
                   </div>
                 </div>
                 <script>
                     $("#para").removeClass("center");
                 </script>


                 <div id ="not_centered" class="col_one_third">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="200">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-check"></i> </a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">Test Driven</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Our focuss on TDD, continous integration, automated behavioural tests and developer testing ensure that all efforts stay focused and stack up without regression. </p>
                   </div>
                 </div>

                 <div id ="not_centered" class="col_one_third col_last">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="400">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-star2"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">World Class DevOps</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Prod like development containers. Continous Integration and auto deployed staging environments. 12-factor friendly scalable, secure & reliable cloud environments. </p>
                   </div>
                 </div>

                 <div class="clear"></div>

                 <div id ="not_centered" class="col_one_third">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-video"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">Presentation Centered</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Choose help on visual assets, imagery & videography along with context specific content and copy from a wide spectrum of external collaborators.</p>
                   </div>
                 </div>

                 <div id ="not_centered" class="col_one_third">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="800">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-params"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">Complete Control</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Organize and Manage Production Data; Realtime system analyses. Expert SEO and SEM. A/B & Experiment based decision making.</p>
                   </div>
                 </div>

                 <div class="col_one_third col_last">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1000">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-fire"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">Agile Teams</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Pair programming. Pace and goal based staffing. Transparency in work.</p>
                   </div>
                 </div>

                 <div class="clear"></div>

                 <div id ="not_centered" class="col_one_third nobottommargin">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1200">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-bulb"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">Strategic Consulting</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Goal focused creation. Flexible roadmap planning. Pragmatic optimization. Brains storming & facilitation.</p>
                   </div>
                 </div>

                 <div id ="not_centered" class="col_one_third nobottommargin">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1400">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-heart2"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">High Performance Culture</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Coherent Communication. Trust & Respect based Interactions. Self-Competitive. Adaptive. Organic growth.</p>
                   </div>
                 </div>

                 <div id ="not_centered" class="col_one_third nobottommargin col_last">
                   <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1600">
                     <div class="fbox-icon">
                       <a href="#"><i class="icon-note"></i></a>
                     </div>
                     <h3 class="fleft" style="font-family:museo-sans-condensed;
                             letter-spacing:1px;">Ever-Pruning</h3>
                     <div class="clear"></div>
                     <p style="text-align:left;">Continous growth and updation support. Scaling and refactoring support. Customer enagement support. </p>
                   </div>
                 </div>

                <script>
                </script>

                 <div class="clear"></div>

               </div>

             </div>
             <div class="container clearfix"></div>

             </div>
         </div>
      <div id="section-product" class="center page-section">

        <div class="container clearfix">
          <div class= "row topmargin-sm divcenter">
            <div class="heading-block topmargin-sm center">
              <h4 data-animate="fadeIn" style="font-family:museo-sans-condensed;
                      letter-spacing:1px;" >Pragmatism Conquers</h4>
            </div>

            <div data-animate="fadeIn" class = "row">
              <p class="col_full lead divcenter bottommargin " style="max-width:80%;font-family:museo-sans-condensed;
                 letter-spacing:1px;color:#2F4F4F;"> Our engagements begin with a transparent and value adding inception process. Followed by context creation for implementation. MVPs we have curated can be extended and scaled by any qualified engineering team and are top of class in code and system quality. <br> We help arrive at the right Time-Quality-Expense matrix that fit the context - be it a time crunched boomer or an early stealth MVP!  </p>





              <div data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="clearfix in-block"></div>

            </div>

          </div>



        </div>
       
         <!-- <div class="section nomargin clearfix" style="background-color: #017EA7;">
            <img src='assets/illustration/predator/1.png' alt="Predator Safety Illustration" style=" max-width: 80%; height: auto;">
          </div> 

         <div class="section nomargin clearfix" style="background-color: #017EA7;">
            <img src='assets/illustration/health/1.png' alt="Health Safety Illustration" style=" max-width: 80%; height: auto;">
          </div>
      <div id="section-work" class="section parallax dark notopmargin nobottommargin " style="background-image: url('assets/together.jpg'); padding: 100px 0;" data-stellar-background-ratio=".05">

        <div class="heading-block center">
          <h3 style="font-family:museo-sans-condensed;
                  letter-spacing:1px;color: #000000;">Collaborations Create Permanent Bonds</h3>
        </div>

        <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
          <div class="flexslider">
            <div class="slider-wrap">
              <div class="slide">
                 <div class="testi-image">
                   <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                 </div> 
                <div class="testi-content">
                  <p style="color: #000000;">There is more to collaboration then succesful completion. Lasting universal impact is achieved when forces are aligned for the larger good.</p>
                  <!--<div class="testi-meta">
                    Steve Jobs
                    <span>Apple Inc.</span>
                  </div> 
                </div>
              </div>
              <div  class="slide">
                 <div class="testi-image">
                   <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                 </div> 
                <div class="testi-content">
                  <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                  <!--<div class="testi-meta">
                    Collis Ta'eed
                    <span>Envato Inc.</span>
                  </div> 
                </div>
              </div>
              <div class="slide">
                <!-- <div class="testi-image">
                   <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                 </div> 
                <div class="testi-content">
                  <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                  <!--<div class="testi-meta">
                    John Doe
                    <span>XYZ Inc.</span>
                  </div> -
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="clearfix in-block"></div>


      </div>




            </div>




          </div>
-->
    <div  class="section notopmargin noborder nobottommargin" >

      <div class="container clearfix">

        <div class="heading-block center nobottommargin">
          <h2 style="font-family:museo-sans-condensed;
                  letter-spacing:1px;">Our Work</h2>
        <!--  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, earum!</span> -->
        </div>

      </div>

    </div>
    <div id="portfolio" class="portfolio-nomargin portfolio-notitle portfolio-full clearfix">

      <article class="portfolio-item pf-media pf-icons" style="border-right:1px solid #ffffff;border-top:1px solid #F2F2F2;">
        <div class="portfolio-image">
          <a href="portfolio-single.html">
            <img src="assets/safehalo_sc.png" alt="Open Imagination">
          </a>
          <div class="portfolio-overlay">

          </div>
        </div>
        <div class="portfolio-desc">
          <h3 style="font-family:museo-sans-condensed;
                  letter-spacing:1px;"><a href="http://www.safehalo.in/" target="_blank">SafeHalo</a></h3>
          <span>Child Safety Device</span>
        </div>
      </article>

      <article class="portfolio-item pf-illustrations"  style="border-right:1px solid #ffffff;">
        <div class="portfolio-image">
          <a href="portfolio-single.html">
            <img src="assets/anoora_sc.png" alt="Locked Steel Gate">
          </a>
          <div class="portfolio-overlay">

          </div>
        </div>
        <div class="portfolio-desc">
          <h3 style="font-family:museo-sans-condensed;
                  letter-spacing:1px;"><a href="http://www.anoora.co/" target="_blank">Anoora</a></h3>
          <span>Let's us serve Chai</span>
        </div>
      </article>

      <article class="portfolio-item pf-graphics pf-uielements"  style="border-right:1px solid #ffffff;">
        <div class="portfolio-image">
          <a href="#">
            <img src="assets/aquasail_sc.png" alt="Mac Sunglasses">
          </a>
          <div class="portfolio-overlay">
           <!-- <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
            <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
          </div>
        </div>
        <div class="portfolio-desc">
          <h3 style="font-family:museo-sans-condensed;
                  letter-spacing:1px;"><a href="http://aquasail.herokuapp.com/" target="_blank">Aquasail</a></h3>
          <span>India's Largest Sailing Company</span>
        </div>
      </article>

      <article class="portfolio-item pf-icons pf-illustrations" >
        <div class="portfolio-image">
          <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="assets/reshotel_sc_1.png" alt="Reshotel"></a></div>
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="assets/reshotel_sc_2.png" alt="Reshotel"></a></div>
              </div>
            </div>
          </div>
          <div class="portfolio-overlay" data-lightbox="gallery">
           <!-- <a href="assets/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
            <a href="assets/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
            <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>-->
          </div>
        </div>
        <div class="portfolio-desc">
          <h3 style="font-family:museo-sans-condensed;
                  letter-spacing:1px;"><a href="http://www.reshotel.in/" target="_blank">ResHotel</a></h3>
          <span>A Meta App for Hoteliers</span>
        </div>
      </article>





    </div>

    <!-- Portfolio Script
    ============================================= -->
    <script type="text/javascript">

        jQuery(window).load(function(){

            var $container = $('#portfolio');

            $container.isotope({ transitionDuration: '0.65s' });

            $(window).resize(function() {
                $container.isotope('layout');
            });

        });

    </script><!-- Portfolio Script End -->




    <div id="section-about" class=" nomargin" style="" >

            <div class="max-height topmargin-sm">

              <div class="heading-block center">
                <h3 style="font-family:museo-sans-condensed;
                        letter-spacing:1px;">The IdeaPortal Core Team </h3>
              </div>

              <div id="#oc-posts" class="row common-height grid-border clearfix  leftmargin-lg rightmargin-lg">

                <div class="fslider nobottommargin" data-animation="fade">
                  <div class="flexslider">
                    <div class="slider-wrap">

                      <div class="slide">

                          <div id="oc_item">

                              <div  class="col-md-4 dark col-padding ohidden" >
                             <div class="testi-image">
                 <a href="#"><img src="assets/testimonials/nikhil.jpg" alt="Customer Testimonails"></a>
               </div>

                            <p id="team_desc_nik" class=" center  " style="width:110%;color: #2F4F4F; margin:5px; padding:5px; "><b style="color:rgba(0,0,0,1);">Nikhil V Vallishayee<br> Managing Director, CTO</b><br><br>

                           <br> Nikhil has a keen eye for technology since childhood, and has worked within agile frameworks; spawning teams, mentoring developers and analysts, and consulting on distributed web & mobile products for over 7 years. Being passionate about game changing ideas & large scale value creation, he understands business vision, and helps execute perfect applications from start to finish, on small and large projects. Nikhil's travels and diverse interactions allow him to see human interactions and vision from a more gameful perspective and he uses this to help seed a culture of open collaboration and brings together diverse teams that trust and respect in each other.  </p> </div>



<div  class="col-md-4 dark col-padding ohidden" >
                          <div class="testi-image">
                            <a href="#"><img src="assets/testimonials/prasidh.jpg" alt="Customer Testimonails"></a>
                          </div><p  id="team_desc_1" class="center " style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Prasidh Chandra<br> Technology Intern </b><br><br>

                           <br> Prasidh has a background in computer engineering and comes with a solid exposure to programming concepts and languages. As technology intern, Prasidh has demonstarated a clear understanding and comfort with the scope of full stack web development. After mastering ruby, and understanding the fundamentals of web systems; he now actively works on live projects - implementing and reliably delivering features in sync with the product team. Prasidh is passionate about music and photography - and plays the guitar and experiments with his camera in his spare time. 

                          </p> </div>
                          <script>

                          </script>


                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/simha.jpg" alt="Customer Testimonails"></a>
                            </div><p id="team_desc" class=" center" style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Narasimha Iyengar<br> Operations Intern </b><br><br>

                           <br> Narasimha is deeply passionate about music while having years of work experience in operations around industrial scale paint suply and application. As an operation intern at IdeaPortal, Narasimha looks after all the operations and administration required to keep our open office running. Narasimha is also actively involved in modelling the financial and material transactions happening in house and translating them into consumable data. Simha is also responsible for spreading musical awareness and ensuring healthy atmospherics at the office. 

                          </p> </div>

                          
                          </div>
                      </div>

                 
        
<!--
                      <div class="slide">

                        <div id="oc_item">

                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div><p  id="team_desc_1" class="center " style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Anand Sahu<br> Legal and Compliance Consultant </b><br><br>

                            <br>Highly talented senior level Information Technology Manager encompassing over 25 years of experience in

                            technology architecture, integration, business analysis, and product development in the embedded systems

                            technology space. Rich experience in effectively managing the business cycle process from client consultation
g the latest technologies in new application solutions in

                            niche technology areas including M2M & Wireless systems.

                          </p> </div>
                          <script>

                          </script>


                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div><p id="team_desc" class=" center" style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Krishna M V<br> Yoga Evengelist, Ashtanga Promoter </b><br><br>
                        <br>
                            Highly talented senior level Information Technology Manager encompassing over 25 years of experience in

                            technology architecture, integration, business analysis, and product development in the embedded systems

                            technology space. Rich experience in effectively managing the business cycle process from client consultation

                          </p> </div>

                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div><p id="team_desc" class="center " style="width:100%;color: #2F4F4F; margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Ekatarina Shuvalova<br> Consultant Designer - UI, Branding and Assets </b><br><br>
                            <br>
                            Highly talented senior level Information Technology Manager encompassing over 25 years of experience in

                            technology architecture, integration, business analysis, and product development in the embedded systems

                            technology space. Rich experience in effec

                          </p> </div>

                        </div>
                      </div>
                      -->	
                  </div>
                </div>
              </div>
            </div>


<!--
          </div>
           <div id="section-collaborative" class=" nomargin" style="" >

            <div class="max-height topmargin-sm">

              <div class="heading-block center">
                <h3 style="font-family:museo-sans-condensed;
                        letter-spacing:1px;">The Core Collaborative </h3>
              </div>

              <div id="#oc-posts" class="row common-height grid-border clearfix  leftmargin-lg rightmargin-lg">

                <div class="fslider nobottommargin" data-animation="fade">
                  <div class="flexslider">
                    <div class="slider-wrap">

                      <div class="slide">

                          <div id="oc_item">
						                 <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/madhu.jpg" alt="Customer Testimonails"></a>
                            </div><p id="team_desc" class="center " style="width:100%;color: #2F4F4F; margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Nikhil Madhusudhan<br> entrepreneur </b><br><br>

                           <br> Nikhil owns and operates  <a href="https://www.facebook.com/cafecornucopia.mys/" target="_blank" alt="Cafe Cornucopia">Cafe Cornucopia</a> and comes from an established entreprenurial background.
                            Nikhil takes care of general hospitality and pantry at IdeaPortal and is actively learning to model operations. His goal is to learn and apply technology to his business in order to automate and optimize.
                           He envisions a larger collaborative of value creation and sets an example towards this. While not in his Cafe or at IdeaPortal, Nikhil is brushing up his racing skills! 
                          </p> </div>

<div  class="col-md-4 dark col-padding ohidden" >
                          <div class="testi-image">
                            <a href="#"><img src="assets/testimonials/katya.jpg" alt="Customer Testimonails"></a>
                          </div><p  id="team_desc_1" class="center " style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Ekaterina Shuvalova<br> Graphic Designer </b><br><br>

                           <br> Katya, specializes in corporate branding and is fond of creating the entire style from logo to every single detail. Very comfortable with making brand books as one of the most important parts of corporate style. Experienced in structuring and rebranding already existing corporate identity. Comfortable in integrating graphic manual techniques with computer design, she is also fond of creating all kinds of handmade stuff.  

                          </p> </div>
                          <script>

                          </script>


                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/simha.jpg" alt="Customer Testimonails"></a>
                            </div><p id="team_desc" class=" center" style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Narasimha Iyengar<br> Operations Intern </b><br><br>

                           <br> Narasimha is deeply passionate about music while having years of work experience in operations around industrial scale paint suply and application. As an operation intern at IdeaPortal, Narasimha looks after all the operations and administration required to keep our open office running. Narasimha is also actively involved in modelling the financial and material transactions happening in house and translating them into consumable data. Simha is also responsible for spreading musical awareness and ensuring healthy atmospherics at the office. 

                          </p> </div>

                          
                          </div>
                      </div>

 -->                       
<!--
                      <div class="slide">

                        <div id="oc_item">

                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div><p  id="team_desc_1" class="center " style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Anand Sahu<br> Legal and Compliance Consultant </b><br><br>

                            <br>Highly talented senior level Information Technology Manager encompassing over 25 years of experience in

                            technology architecture, integration, business analysis, and product development in the embedded systems

                            technology space. Rich experience in effectively managing the business cycle process from client consultation
g the latest technologies in new application solutions in

                            niche technology areas including M2M & Wireless systems.

                          </p> </div>
                          <script>

                          </script>


                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div><p id="team_desc" class=" center" style="width:110%;color:#2F4F4F;  margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Krishna M V<br> Yoga Evengelist, Ashtanga Promoter </b><br><br>
                        <br>
                            Highly talented senior level Information Technology Manager encompassing over 25 years of experience in

                            technology architecture, integration, business analysis, and product development in the embedded systems

                            technology space. Rich experience in effectively managing the business cycle process from client consultation

                          </p> </div>

                          <div  class="col-md-4 dark col-padding ohidden" >
                            <div class="testi-image">
                              <a href="#"><img src="assets/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div><p id="team_desc" class="center " style="width:100%;color: #2F4F4F; margin:5px; padding:5px;"><b style="color:rgba(0,0,0,1);">Ekatarina Shuvalova<br> Consultant Designer - UI, Branding and Assets </b><br><br>
                            <br>
                            Highly talented senior level Information Technology Manager encompassing over 25 years of experience in

                            technology architecture, integration, business analysis, and product development in the embedded systems

                            technology space. Rich experience in effec

                          </p> </div>

                        </div>
                      </div>
                      -->	
                  </div>
                </div>
              </div>
            </div>



          </div>


 <div id="section-product" class="center page-section">

        <div class="container clearfix">
          <div class= "row topmargin-sm divcenter">
            <div class="heading-block topmargin-sm center">
              <h4 data-animate="fadeIn" style="font-family:museo-sans-condensed;
                      letter-spacing:1px;" >Career Opportunities</h4>
            </div>

            <div data-animate="fadeIn" class = "row">
              <p class="col_full lead divcenter bottommargin " style="max-width:80%;font-family:museo-sans-condensed;
                 letter-spacing:1px;color:#2F4F4F;"> We are a growing company and there are many important roles to play. We look for honest, trustworthy, passionate people with a pragmatic bent of mind. Based on your expertize, skills and growth & learning ambitions, we figure out how best you can transition into Ideaportal and what will be the initial roles and responsibilities.
                 <br><b><br> We can offer lucrative internships to fresh minds or folks who want to start with a blank slate. <br> Experienced full-stack agile developers and analysts are encouraged to pilot and explore collaboration potential.<br> Masters looking to share and teach are welcome to collaborate on open terms. <br></b>
				<br> Drop a mail and begin an informal introduction now! </p>




              <div data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="clearfix in-block"></div>

            </div>

          </div>



        </div>
      

            <div class="section parallax dark notopmargin nobottommargin" style="background-image: url('assets/mp.jpg'); padding: 100px 0;" data-stellar-background-ratio=".07">

              <div class="heading-block center">
                <h3 style="font-family:museo-sans-condensed;
                        letter-spacing:1px;">Open to Distribution.<br> Centered in Mysore,India</h3>
              </div>

              <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      
                      <div class="testi-content">
                        <p>Colocation brings in intensity and trust. Efficient distribution leads opportunities and growth. Any successful system is a combination of both!
                        </p>
                     
                        
                      </div>
                    </div>-->
                   <!-- <div class="slide">
                      <!-- <div class="testi-image">
                         <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                       </div>
                      <div class="testi-content">
                        <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                       <!-- <div class="testi-meta">
                          John Doe
                          <span>XYZ Inc.</span>
                        </div> -->
                      </div>
                    </div> 
                  </div>
                </div>
              </div>

            </div>





          <!--=========================================-->

          <!-- <div class="section parallax nomargin dark" style="background-image: url('../assets/parallax/home/6.jpg');background-size:cover; height 100%;" data-stellar-background-ratio="0.3">

          <div class="section parallax nomargin dark" style="background-image: url('../assets/parallax/home/6.jpg');background-size:cover; height 100%; " data-stellar-background-ratio="0.3">
              <div class="container clearfix">

                  <div class="col_two_fifth nobottommargin">&nbsp;</div>

                  <div class="col_three_fifth nobottommargin col_last">

                      <div class="fslider testimonial testimonial-full nobgcolor noborder noshadow nopadding" data-arrows="false">
                          <div class="flexslider">
                              <div class="slider-wrap">
                                  <div class="slide">
                                      <div class="testi-content">
                                          <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque vero numquam?</p>
                                          <div class="testi-meta">
                                              Steve Jobs
                                              <span>Apple Inc.</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="slide">
                                      <div class="testi-content">
                                          <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                          <div class="testi-meta">
                                              Collis Ta'eed
                                              <span>Envato Inc.</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="slide">
                                      <div class="testi-content">
                                          <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                          <div class="testi-meta">
                                              John Doe
                                              <span>XYZ Inc.</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>

          </div>

      </div>

      <div id="section-blog" class="page-section">

          <h2 class="center uppercase t300 ls3 font-body">Recently From the Blog</h2>

          <div class="section nobottommargin">
              <div class="container clearfix">

                  <div class="row topmargin clearfix">

                      <div class="ipost col-sm-6 bottommargin clearfix">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="entry-image nobottommargin">
                                      <a href="#"><img src="assets/blog/1.jpg" alt="Paris"></a>
                                  </div>
                              </div>
                              <div class="col-md-6" style="margin-top: 20px;">
                                  <span class="before-heading" style="font-style: normal;">Press &amp; Media</span>
                                  <div class="entry-title">
                                      <h3 class="t400" style="font-size: 22px;"><a href="#">Global Meetup Program is Launching!</a></h3>
                                  </div>
                                  <div class="entry-content">
                                      <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="ipost col-sm-6 bottommargin clearfix">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="entry-image nobottommargin">
                                      <a href="#"><img src="assets/blog/2.jpg" alt="Paris"></a>
                                  </div>
                              </div>
                              <div class="col-md-6" style="margin-top: 20px;">
                                  <span class="before-heading" style="font-style: normal;">Inside Scoops</span>
                                  <div class="entry-title">
                                      <h3 class="t400" style="font-size: 22px;"><a href="#">The New YouTube Economy unfolds itself</a></h3>
                                  </div>
                                  <div class="entry-content">
                                      <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="ipost col-sm-6 bottommargin clearfix">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="entry-image nobottommargin">
                                      <a href="#"><img src="assets/blog/3.jpg" alt="Paris"></a>
                                  </div>
                              </div>
                              <div class="col-md-6" style="margin-top: 20px;">
                                  <span class="before-heading" style="font-style: normal;">Video Blog</span>
                                  <div class="entry-title">
                                      <h3 class="t400" style="font-size: 22px;"><a href="#">Kicking Off Design Party in Style</a></h3>
                                  </div>
                                  <div class="entry-content">
                                      <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="ipost col-sm-6 bottommargin clearfix">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="entry-image nobottommargin">
                                      <a href="#"><img src="assets/blog/4.jpg" alt="Paris"></a>
                                  </div>
                              </div>
                              <div class="col-md-6" style="margin-top: 20px;">
                                  <span class="before-heading" style="font-style: normal;">Inspiration</span>
                                  <div class="entry-title">
                                      <h3 class="t400" style="font-size: 22px;"><a href="#">Top Ten Signs You're a Designer</a></h3>
                                  </div>
                                  <div class="entry-content">
                                      <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>
          </div>

          <div class="container topmargin-lg clearfix">

              <div id="oc-clients" class="owl-carousel topmargin image-carousel">

                  <div class="oc-item"><a href="#"><img src="../assets/clients/1.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/2.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/3.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/4.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/5.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/6.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/7.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/8.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/9.png" alt="Clients"></a></div>
                  <div class="oc-item"><a href="#"><img src="../assets/clients/10.png" alt="Clients"></a></div>

              </div>

              <script type="text/javascript">

                  jQuery(document).ready(function($) {

                      var ocClients = $("#oc-clients");

                      ocClients.owlCarousel({
                          margin: 80,
                          loop: true,
                          nav: false,
                          autoplay: true,
                          dots: false,
                          autoplayHoverPause: true,
                          responsive:{
                              0:{ items:2 },
                              480:{ items:3 },
                              768:{ items:4 },
                              992:{ items:5 },
                              1200:{ items:6 }
                          }
                      });

                  });

              </script>

          </div>

      </div>
-->
            <section id="section-contact" class="page-section full-screen section nopadding nomargin noborder ohidden">
              <div class="vertical-middle">
                <div class="container clearfix">

                  <!-- Contact Form Overlay
                  ============================================= -->
                  <div id="contact-form-overlay-mini" class="clearfix">

                    <div class="fancy-title title-dotted-border">
                      <h3 style="font-family:museo-sans-condensed;
                              letter-spacing:1px;font-weight:500;">Send us an Email</h3>
                    </div>

                    <!-- Contact Form
                    ============================================= -->

                    <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

                    <div id="contactform-thank-you" class="hidden"> <p class="lead ">Thank You. Will Will Get Back Shortly!</p></div>

                    <form class="nobottommargin" id="template-contactform" name="template-contactform" action="foo/bar" method="post">

                      <div class="col_full">
                        <label for="template-contactform-name" style="font-family:museo-sans-condensed;
                                letter-spacing:1px;">Name <small>*</small></label>
                        <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                      </div>

                      <div class="col_full">
                        <label for="template-contactform-email" style="font-family:museo-sans-condensed;
                                letter-spacing:1px;">Email <small>*</small></label>
                        <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                      </div>

                      <div class="clear"></div>

                      <div class="col_full">
                        <label for="template-contactform-subject" style="font-family:museo-sans-condensed;
                                letter-spacing:1px;">Subject <small>*</small></label>
                        <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control" />
                      </div>

                      <div class="col_full">
                        <label for="template-contactform-message" style="font-family:museo-sans-condensed;
                                letter-spacing:1px;">Message <small>*</small></label>
                        <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                      </div>

                      <div class="col_full hidden">
                        <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                      </div>

                      <div class="col_full">
                        <button class="button button-3d button-blue nomargin" type="submit" id="template-contactform-submission" name="template-contactform-submission" value="submit" style="font-family:museo-sans-condensed;
                                letter-spacing:1px;">Send Message</button>
                      </div>

                    </form>

                    <script type="text/javascript">
                        $('#template-contactform-submission').unbind();
                        $('#template-contactform-submission').click(function(){
                            $.ajax({
                                type: "POST",
                                url: "/messages",
                                data: {
                                    "message": {
                                        "body": $('#template-contactform-message').val(),
                                        "subject": $('#template-contactform-subject').val(),
                                        "phone": $('#template-contactform-phone').val(),
                                        "name": $('#template-contactform-name').val(),
                                        "email": $('#template-contactform-email').val()
                                    }
                                },
                                success: function(){
                                    $('#template-contactform').hide();
                                    $('#contactform-thank-you').removeClass('hidden')

                                },
                                dataType: "json"
                            });
                        });
                        $("#template-contactform").validate({
                            submitHandler: function(form) {
                                $('.form-process').fadeIn();
                                $(form).ajaxSubmit({
                                    target: '#contact-form-result',
                                    success: function() {
                                        $('.form-process').fadeOut();
                                        $(form).find('.sm-form-control').val('');
                                        $('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
                                        SEMICOLON.widget.notifications($('#contact-form-result'));
                                    }
                                });
                            }
                        });

                    </script>

                  </div><!-- Contact Form Overlay End -->

                </div>
              </div>

              <!-- Google Map
              ============================================= -->
              <section id="google-map" class="gmap full-screen"></section>


              <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

              <%= javascript_include_tag "jquery.gmap" %>



              <script type="text/javascript">

                  $('#google-map').gMap({

                      address: "12.327647, 76.616834"  ,
                      maptype: 'ROADMAP',
                      zoom: 16,
                      markers: [
                          {
                              address:"12.327647, 76.616834"  ,
                              html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Hi, we\'re <span>IdeaPortal</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
                              icon: {
                                  image: "assets/icons/map-icon-red.png",
                                  iconsize: [32, 39],
                                  iconanchor: [13,39]
                              }
                          }
                      ],
                      doubleclickzoom: false,
                      controls: {
                          panControl: true,
                          zoomControl: true,
                          mapTypeControl: true,
                          scaleControl: false,
                          streetViewControl: false,
                          overviewMapControl: false
                      }

                  });


              </script>

            </section>

          </div>

  </section><!-- #content end -->



  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          <div class="copyright-links" style="font-family:museo-sans-condensed;
                  letter-spacing:1px;">If you can leverage your skills or network to help us create a portfolio of value creating, demand centric social exchange systems - we whole heartedly welcome all suggestions and offers towards collaboration<br>
<br>
          Copyrights &copy; 2016 All Rights Reserved by IdeaPortal Private Limited</div>
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="http://www.facebook.com/theideaportal/timeline"  target="_blank" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="http://twitter.com/theideaportal"  target="_blank" class="social-icon si-small si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

          
            <a href="http://www.linkedin.com/company/idea-portal-services-private-limited"  target="_blank" class="social-icon si-small si-borderless si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>

          <div class="clear"></div>

          <i class="icon-envelope2"></i><span style="font-family:museo-sans-condensed;
                letter-spacing:1px;">nikhil@idea-portal.co</span>  <span class="middot" style="font-family:museo-sans-condensed;
                letter-spacing:1px;">&middot;</span> <i class="icon-headphones"></i><span style="font-family:museo-sans-condensed;
                letter-spacing:1px;"> +91-8197-XXXX</span>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
============================================= -->
<%= javascript_include_tag 'functions' %>


<style>
  .active {
      color: #33ccff;
  }
</style>