<!DOCTYPE html>
<html>
<head>
  <title>IdeaPortal - Collaborative Product Incubation and Consulting | Agile | Xtreme | Lean</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application','jquery', 'plugins', 'analytics', 'data-turbolinks-track' => true %>
  <script src="https://use.typekit.net/gam6vvc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= favicon_link_tag %>
  <%=	favicon_link_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="IdeaPortal" />
  <meta name="description" content="Agile Web Consulting. Provides a range of services around product creation and curation, and pilot your MVP via a tailored strategy and engagement mechanism.Requirement Gathering and Business Modelling. Release and Piple Line Planning. World Class Implementation Assistance.<br> UI, UX and Branding. SEO, SEM and SMM. RoR, Heroku, JS, HTML5, CSS, ios, Android.">
  <meta name="keywords" content="RoR,ruby,rails,agile,mvp,products,consulting, web, RESTful, API,Requirement Gathering,Business Modelling,Release,Piple Line,Planning,World Class,Implementation Assistance,UI,UX,Branding,SEO,SEM,SMM,HTML,CSS,XML,JavaScript">	
  <meta property="og:image" content="http:/idea-portal.co/assets/title_logo.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">
  
  
</head>
<body class="stretched side-panel-left" data-loader="4" data-loader-timeout="5000">


<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64044453-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
