<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <%= favicon_link_tag %>
  <%=	favicon_link_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="IdeaPortal" />
  <meta property="og:image" content="http://www.ideaportal.in/assets/parallax/home/6.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <!-- External JavaScripts
  ============================================= -->
  <!-- Document Title
  ============================================= -->
  <title><%= yield "seo_title" %></title>

  <link rel="stylesheet" href="/assets/css/app.css">

</head>
<body class="stretched side-panel-left" data-loader="4" data-loader-timeout="5000">
  <%= yield %>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>